<div class="NavBar" [class.scrolled]="isScrolled">
    <div class="left-content">
        <h1><span class="letter-spacing">F</span>lex<span class="letter-spacing">Z</span>one</h1>
    </div>
    
    <div class="links desktop-only">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="logos desktop-only">
        <i class="fa-solid fa-cart-shopping"></i>
        <a href="#" id="l-btn">LOGIN</a>
        <a href="#" id="r-btn">JOIN NOW</a>
    </div>


    <div class="mobile-controls mobile-only">
        <i class="fa-solid fa-cart-shopping me-3" style="color: white; font-size: 20px;"></i>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileDrawer">
            <i class="fa-solid fa-bars" style="color: white; font-size: 24px;"></i>
        </button>
    </div>
</div>

<div class="offcanvas offcanvas-end custom-drawer" tabindex="-1" id="mobileDrawer">
    <div class="offcanvas-header">
        <h2 class="m-0"><span class="letter-spacing">F</span>lex<span class="letter-spacing">Z</span>one</h2>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="drawer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="drawer-buttons mt-5">
            <a href="#" class="drawer-l-btn">LOGIN</a>
            <a href="#" class="drawer-r-btn">JOIN NOW</a>
        </div>
    </div>
</div>