<div class="NavBar" [class.scrolled]="isScrolled">
    <div class="left-content">
        <h1><span class="letter-spacing">F</span>lex<span class="letter-spacing">Z</span>one</h1>
    </div>
    <div class="links">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="logos">
        <i class="fa-solid fa-cart-shopping"></i>
        <a href="#" id="l-btn">LOGIN</a>
        <a href="#" id="r-btn">JOIN NOW</a>
    </div>
</div>